.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  .logo {
    display: flex;
    align-items: center;
    width: 124px;
    img {
      width: 100%;
    }
    .help-text {
      font-size: 1rem;
      padding-left: 4px;
    }
  }
    .icon-block {
      font-size: 20px;
      padding: 10px;
    }
}
